<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div class="container">
        <h2>Cadastro de Usuário</h2>

        <form id="registrationForm" action="/login" method="POST">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
                <small class="error-message" id="nameError"></small>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="text" id="senha" name="senha" required>
                <small class="error-message" id="idadeError"></small>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
